.trip{
  margin:4rem 6rem;
}
.trip h1,p{
  text-align: center;
}
.trip h1{
  font-size: 4rem;
}
.trip p{
  font-size: 2.5rem;
  margin-top: 1rem;
}
.trip-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
  margin-top: 2rem;
}
.t-card{
  width: 32%;

  text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0,0,0,.11);
  border-radius: 4rem;
  padding: 1rem .8rem;

}
.t-desc h2{
  text-align: start;
  font-size: 2rem;
  font-weight: 700;
}
.t-desc p{
  text-align: start;
  font-size: 1.5rem;
}
.t-card img{
  width: 20rem;
  height:100%;
  margin:2rem 4rem; 
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}
.t-img{
  width:100%;
 border-radius: 5px;
}
.t-desc{
  margin:0 4rem; 
}
.t-card :hover img{
  transform: scale(1.2);
}
@media  screen and (max-width:850px) {
  .trip{
    margin:2rem 1rem;
  }
  .trip-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    margin-top: 2rem;
  }
  .t-card{
    margin:0 5rem;
    width:100%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0,0,0,.11);
    border-radius: 4rem;
    padding: .5rem .2rem;
  }
  .t-img img{
    width:12rem;
  }
  .t-desc{
    margin:1rem 4rem; 
  }
  .t-desc p{
    text-align: start;
    font-size: .9rem;
  }
  .t-desc h2{
    text-align: start;
    font-size: 1rem;
    font-weight: 700;
  }
}